
.Xauthority
docs/
downloads/
git/
music/
pics/
vids/
.audacity-data/
.cache/
.cargo/
.dbus/
.fonts/
.gnupg/
.icons/
.lutris/
.lyrics/
.minecraft/
.mozilla/
.npm/
.nv/
.pki/
.rustup/
.steam/
.themes/
.ts3client/
.bash_history
.bashrc
.dmrc
.gtk-bookmarks/
.lmmsrc.xml
.nvidia-settings-rc
.pulse-cookie
.steampath
.steampid
.vim-bookmarks
.viminfo
.xsession-errors
.xsession-errors.old
.zcompdump
.config/Badlion Client
.config/Kvantum
.config/cef_user_data/
.config/dconf/
.config/discord/
.config/dolphin-emu/
.config/Electron/
.config/Element/
.config/falkTX/
.config/GIMP/
.config/libfm/
.config/lutris/
.config/lxsession
.config/menus
.config/mpv
.config/MuseScore/
.config/obs-studio/
.config/oldnvim/plugged/
.config/pcmanfm/
.config/pipewire
.config/protonfixes/
.config/pulse/
.config/qBittorrent/
.config/qt5ct/
.config/REAPER/
.config/VirtualBox/
.config/qutebrowser/
.config/mimeapps.list
.config/QtProject.conf
.local/bin/
.local/lib/
.local/share/airshipper/
.local/share/amfora/
.local/share/calcurse/
.local/share/desktop-directories/
.local/share/dolphin-emu/
.local/share/gegl-0.4/
.local/share/go/
.local/share/gvfs-metadata/
.local/share/icons/
.local/share/lf/
.local/share/lutris/
.local/share/mime/
.local/share/MuseScore/
.local/share/nemo/
.local/share/nvim/
.local/share/osu/
.local/share/qBittorrent/
.local/share/qutebrowser/
.local/share/ranger/
.local/share/Rocket League/
.local/share/Steam/
.local/share/TeamSpeak 3/
.local/share/Trash/
.local/share/veloren/
.local/share/vulkan/
.local/share/wineprefixes/
.local/share/xorg/
.local/share/zathura/
.local/share/history
.local/share/recently-used.xbel
.config/calcurse/keys
.config/gtk-2.0/gtkfilechooser.ini
.config/gtk-3.0/bookmarks
.config/lazygit/state.yml
.config/mpd/database
.config/mpd/pid
.config/mpd/playlists/Cacola favs.m3u
.config/mpd/playlists/electroiguess.m3u
.config/mpd/playlists/j.m3u
.config/mpd/playlists/osu!.m3u
.config/ncmpcpp/error.log
.config/zsh/histfile
.gitconfig
.gtk-bookmarks
.local/share/applications/Quaver-scheme-handler.desktop
.local/share/applications/discord-418076578333851669.desktop
.local/share/applications/discord-455712169795780630.desktop
.local/share/applications/discord-529050037532098580.desktop
.local/share/applications/mimeapps.list
.local/share/applications/mimeinfo.cache
.local/share/applications/wine-extension-application.desktop
.local/share/applications/wine-extension-appref-ms.desktop
.local/share/applications/wine-extension-chm.desktop
.local/share/applications/wine-extension-compositefont.desktop
.local/share/applications/wine-extension-hlp.desktop
.local/share/applications/wine-extension-htm.desktop
.local/share/applications/wine-extension-html.desktop
.local/share/applications/wine-extension-ini.desktop
.local/share/applications/wine-extension-msp.desktop
.local/share/applications/wine-extension-osk.desktop
.local/share/applications/wine-extension-osr.desktop
.local/share/applications/wine-extension-osz.desktop
.local/share/applications/wine-extension-osz2.desktop
.local/share/applications/wine-extension-pdf.desktop
.local/share/applications/wine-extension-rtf.desktop
.local/share/applications/wine-extension-url.desktop
.local/share/applications/wine-extension-vbs.desktop
.local/share/applications/wine-extension-wri.desktop
.local/share/applications/wine-extension-xaml.desktop
.local/share/applications/wine-extension-xbap.desktop

.config/nvim/plugin/packer_compiled.vim
scripts/polybar.sh
.config/river/init
.config/polybar/config

.config/godot/
.local/share/godot/
.local/share/rtv/
.config/gtk-2.0/
.config/gtk-3.0/
.config/zathura

.ssh/id_ed25519
.ssh/id_ed25519.pub
.ssh/known_hosts
.profile
config/nvim/plugin/packer_compiled.vim