[general]
distance = 50
useNetWMFullscreen = true
ignoreSkipTaskbar = true
updateFreq = 60.0
lazyTrans = false
movePointerOnStart = false
movePointerOnSelect = false
movePointerOnRaise = false
switchDesktopOnActivate = false

[xinerama]
showAll = true

[normal]
tint = black
tintOpacity = 0
opacity = 200

[highlight]
tint = #181621
tintOpacity = 64
opacity = 255

[tooltip]
show = true
followsMouse = true
align = left
border = #ccaaff
background = #181621
opacity = 128
text = #f5d6f5
textShadow = black
font = Terminus:style=Regular

[bindings]
keysUp = Up k
keysDown = Down j
keysLeft = Left h
keysRight = Right Tab l
keysExitCancelOnPress = Escape q
keysExitCancelOnRelease =
keysExitSelectOnPress = Return space
keysExitSelectOnRelease = Alt_L
keysReverseDirection = Alt_R
modifierKeyMasksReverseDirection = Alt_R
